.root {
    -fx-base: #21252B;
    -fx-background: #21252B;
    -fx-control-inner-background: #383d48;
    -fx-text-background-color: #979FAD;
    -fx-color: #383D48;
    -fx-accent: #2979FF;
}

.progress-bar > .bar {
    -fx-background-color: #418cf9;
}